<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-MVC-Excel-Pdf-View-Example:war exploded">
    <output-path>$PROJECT_DIR$/target/excel-pdf-view-example</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-MVC-Excel-Pdf-View-Example" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.poi:poi:3.14" />
          <element id="library" level="project" name="Maven: commons-codec:commons-codec:1.10" />
          <element id="library" level="project" name="Maven: org.apache.poi:poi-ooxml:3.14" />
          <element id="library" level="project" name="Maven: org.apache.poi:poi-ooxml-schemas:3.14" />
          <element id="library" level="project" name="Maven: org.apache.xmlbeans:xmlbeans:2.6.0" />
          <element id="library" level="project" name="Maven: stax:stax-api:1.0.1" />
          <element id="library" level="project" name="Maven: com.github.virtuald:curvesapi:1.03" />
          <element id="library" level="project" name="Maven: com.lowagie:itext:2.1.7" />
          <element id="library" level="project" name="Maven: bouncycastle:bcmail-jdk14:138" />
          <element id="library" level="project" name="Maven: bouncycastle:bcprov-jdk14:138" />
          <element id="library" level="project" name="Maven: org.bouncycastle:bctsp-jdk14:1.38" />
          <element id="library" level="project" name="Maven: org.bouncycastle:bcprov-jdk14:1.38" />
          <element id="library" level="project" name="Maven: org.bouncycastle:bcmail-jdk14:1.38" />
          <element id="library" level="project" name="Maven: com.itextpdf:itextpdf:5.5.9" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/excel-pdf-view-example/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring-MVC-Excel-Pdf-View-Example/web/Web" />
    </root>
  </artifact>
</component>